{
	"Arch":		"",
	"Cache":	"/Users/strings/via/cache",
	"Identity": "Mike Rosset <mike.rosset@gmail.com>",
	"OS":		"",
	"Plans":	"/Users/strings/via/plans",
	"Prefix":	"/usr/local",
	"Repo":		"/Users/strings/via/repo",
	"Root":		"/"
}
